gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

.cxx

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
# Do not ignore the team-shared debug keystore
!app/debug.keystore
**/*.jks

/app/src/main/assets/flutter_assets

.kotlin
build